.app-bar-icon-wrapper {
  height: 85%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  margin-right: 12px;
  margin-inline-start: 20px;
}

.app-bar-icon {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.app-bar-title {
  color: white;
}
