# Fallback location
VITE_FALLBACK_LAT=52.1035
VITE_FALLBACK_LON=5.1758
VITE_FALLBACK_CITY="De Bilt"
VITE_FALLBACK_COUNTRY=NL

# OpenWeather One Call 3.0 API
VITE_OPENWEATHER_BASE=https://api.openweathermap.org/data/3.0/onecall
VITE_OPENWEATHER_EXCLUDE=minutely,hourly
VITE_OPENWEATHER_API_KEY=
VITE_GEONAMES_USERNAME=