.app-bar-title {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.6;
}

.dosis-light {
  font-family: 'Dosis', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.dosis-bold {
  font-family: 'Dosis', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.v-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6;
}

.v-card-text {
  font-size: 1.1rem;
  line-height: 1.6;
}

.v-label {
  font-size: 1rem;
}